<nav class="grey darken-3">
	<div class="nav-wrapper container">

		<a href="#!" class="brand-logo center">DigiCare</a>
		<a href="#" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
		<ul class="sidenav" id="mobile-demo">
			{{#if user.role == "P"}}
			  <li><a href="/stories">My Vitals</a></li>
			  <li><a href="/dashboard">Manage Doctors</a></li>
			  <li><a href="/dashboard">Assessments</a></li>
			  <li><a href="/dashboard">Take Live Reading</a></li>
			{{else if user.role =="D"}}
			  <li><a href="/dashboard">View Patients</a></li>
			  <li><a href="/dashboard">My Assessments</a></li>
			{{else if user.role =="C"}}
			  <li><a href="/dashboard">My Patient</a></li>
			  <li><a href="/dashboard">Assessments</a></li>
			{{/if}}
			  <li><a href="/dashboard">Analytics</a></li>
			  <li><a href="/logout">Logout</a></li>
		</ul>
	</div>
</nav>